<div class="container">
    @if (loan.id) {
        <h1>Modificar el préstamo</h1>
    } @else {
        <h1>Crear Préstamo</h1>
    }

    <form>
        <mat-form-field>
            <mat-label>Identificador</mat-label>
            <input type="text" matInput placeholder="Identificador" [(ngModel)]="loan.id" name="id" disabled>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Cliente</mat-label>
            <mat-select disableRipple [(ngModel)]="loan.client" name="clientName" required>
                @for (client of clients; track client.id) {
                    <mat-option [value]="client">{{client.name}}</mat-option>
                }
            </mat-select>
            <mat-error>El Cliente no puede estar vacío</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Juego</mat-label>
            <mat-select disableRipple [(ngModel)]="loan.game" name="gameTitle" required>
                @for (game of games; track game.id) {
                    <mat-option [value]="game">{{game.title}}</mat-option>
                }
            </mat-select>
            <mat-error>El Juego no puede estar vacío</mat-error>
        </mat-form-field>

        <div class="date-container">

            <!-- FECHA DE PRÉSTAMO -->
            <mat-form-field appearance="fill">
                <mat-label>Fecha de inicio</mat-label>
                <input matInput 
                    [matDatepicker]="picker" 
                    [(ngModel)]="loan.loanStartDate" 
                    name="loanStartDate"
                    required>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <!-- FECHA DE DEVOLUCIÓN -->
            <mat-form-field appearance="fill">
                <mat-label>Fecha de devolución</mat-label>
                <input
                matInput
                [matDatepicker]="loanEndDatePicker"
                [(ngModel)]="loan.loanEndDate"
                [min]="loan.loanStartDate"
                name="loanEndDate"
                required
                #fechaFin="ngModel"
                


                />
                <mat-datepicker-toggle matSuffix [for]="loanEndDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #loanEndDatePicker></mat-datepicker>

                <mat-error *ngIf="fechaFin.hasError('required')">
                La fecha de devolución es obligatoria
                </mat-error>

                <mat-error *ngIf="loan.loanEndDate && !validateRange()">
                La fecha de devolución debe ser posterior a la de préstamo
                </mat-error>
            </mat-form-field>

            </div>

    </form>

    <div class="buttons">
        <button mat-stroked-button (click)="onClose()">Cerrar</button>
        <button mat-flat-button color="primary" (click)="onSave()">Guardar</button>
    </div>
</div>
