<div class="container">
    @if (prestamo.id) {
        <h1>Modificar el préstamo</h1>
    } @else {
        <h1>Crear Préstamo</h1>
    }

    <form>
        <mat-form-field>
            <mat-label>Identificador</mat-label>
            <input type="text" matInput placeholder="Identificador" [(ngModel)]="prestamo.id" name="id" disabled>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Cliente</mat-label>
            <mat-select disableRipple [(ngModel)]="prestamo.client" name="clientName" required>
                @for (client of clients; track client.id) {
                    <mat-option [value]="client">{{client.name}}</mat-option>
                }
            </mat-select>
            <mat-error>El Cliente no puede estar vacío</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Juego</mat-label>
            <mat-select disableRipple [(ngModel)]="prestamo.game" name="gameTitle" required>
                @for (game of games; track game.id) {
                    <mat-option [value]="game">{{game.title}}</mat-option>
                }
            </mat-select>
            <mat-error>El Juego no puede estar vacío</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Fechas de préstamo</mat-label>
            <mat-date-range-input [rangePicker]="picker">
                <input matStartDate 
                    placeholder="Desde" 
                    [(ngModel)]="prestamo.fechaPrestamo" 
                    name="fechaPrestamo"
                    required
                    #fechaInicio="ngModel"> <input matEndDate 
                    placeholder="Hasta" 
                    [(ngModel)]="prestamo.fechaDevolucion" 
                    name="fechaDevolucion"
                    required
                    #fechaFin="ngModel"> </mat-date-range-input>

            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
                
            <mat-error *ngIf="fechaInicio.hasError('required') || fechaFin.hasError('required')">
            </mat-error>
            <mat-error *ngIf="prestamo.fechaDevolucion && !validateRange()">
            </mat-error>
        </mat-form-field>

    </form>

    <div class="buttons">
        <button mat-stroked-button (click)="onClose()">Cerrar</button>
        <button mat-flat-button color="primary" (click)="onSave()">Guardar</button>
    </div>
</div>
